.title {
  &__icon {
    display: flex;
    &-addres, &-age {
      display: flex;
      align-items: center;
      padding-left: 15px;
    }
    & img {
      width: 24px;
      height: 24px;
    }
    & p {
      padding-left: 10px;
    }

  }
}

.loading {
  padding: 5px 20px;
  border-radius: 15px;
  border: 1px solid #888;
  color: #888;
  display: flex;
  align-items:center;
  & img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}

.headline {
  display: flex;
  flex: 1;
  gap: 1rem;
  align-items: center;
  & hr {
    flex-grow: 1;
    border: 1px solid #2f80ed;
  }
  &__icon {
    padding: 5px;
    border: 2px solid #000;
    border-radius: 50px;
    width: 24px;
    height: 24px;
    text-align: center;
    & img {
      width: 24px;
      height: 24px;
    }
  }
}

.experience {
  display: flex;
  margin-bottom: 2em;
  &__position {
    display: flex;
    justify-content: space-between;
  }
  &__date {
    min-width: 130px;
    margin-bottom: 1em;
    font-size: 0.8rem;
  }
  &__name {
    font-weight: bold;
  }
  & h4 {
    margin: 1rem 0;
  }
  & p {
    margin: 0;
  }
  & span {
    font-size: 1rem;
    margin: 0 0 0.5rem 0;
    font-style: italic;
  }
  & h5 {
    font-size: 1rem;
    margin: 0 0 0.5rem 0;
    font-weight: normal;
    font-family: "mouse-400", Arial, Helvetica, sans-serif;
  }
}

.institute {
  &__item {
    margin: 0 0 5px;
  }
  &__item p {
    margin: 0;
  }
}

.courses {
  padding-bottom: 30px;
  &__item {
    margin: 0 0 5px;
  }
  &__item p {
    margin: 0;
  }
}